<div class="container mt-5">
  <h1>Login</h1>
  <p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat dolor
    et lectus tincidunt venenatis at vitae quam. Proin condimentum elit vitae
    interdum fermentum. Aliquam sit amet risus vitae arcu ultricies porta.
    Vestibulum consectetur quam id sem placerat, et luctus nunc volutpat.
    Curabitur nibh massa, auctor semper tortor a, egestas dignissim tortor.
    Quisque ac malesuada turpis.
  </p>
  <p class="text-justify">
    Donec quis lorem vel magna porttitor rhoncus. Nam consectetur, libero eu
    pulvinar vulputate, lacus tellus hendrerit sem, nec lacinia nisi tortor nec
    lorem. Integer ut nunc turpis. Maecenas rutrum vulputate leo sit amet
    tincidunt. Mauris non venenatis risus. Mauris vitae diam urna. Nullam
    sodales arcu ipsum. Proin dui orci, malesuada at dui in, vestibulum placerat
    arcu. Sed iaculis porttitor accumsan. Mauris id quam mattis, rutrum mauris
    eget, ullamcorper dui. Morbi euismod sed magna sit amet ullamcorper. Vivamus
    luctus orci in ante interdum, quis dictum massa sagittis. Nullam in ex sit
    amet augue luctus bibendum eu vitae mi.
  </p>
</div>

<div class="container background-container">
  <h4>Einloggen</h4>
  <hr />
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="user">Benutzername: </label>
        <input
          type="text"
          id="user"
          class="form-control"
          formControlName="username"
          placeholder="Benutzername"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="password">Passwort: </label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="Passwort"
          required
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
      Anmelden
    </button>
  </form>
</div>
