:root {
  --accent-blue-color: #1460ac;
  --accent-green-color: #94c120;
  --accent-grey-color: #f0f0ef;
  --header-color: #717171;
  --subheader-color: #000;
  --text-color: #292b2c;
  --background-color: #fff;
}

html {
  scroll-behavior: smooth;
  font-family: "Source Sans Pro";
  height: 100%;
  scroll-padding-top: 55px; /* Navbar fix - https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/ */
}

#navbar {
  border-bottom: 3px solid var(--accent-green-color);
}

#navbar a {
  color: var(--header-color);
}

#navbar a:hover {
  color: var(--accent-green-color);
}

#ivd24-logo {
  height: 42px;
}

div a {
  color: var(--accent-blue-color);
}

.message-btn {
  background-color: var(--accent-green-color);
  border: none;
}

.btn-light {
  border-color: var(--accent-green-color);
}

.badge {
  background-color: var(--accent-blue-color);
}

.user-img {
  border-radius: 50%;
  width: 100%;
}

hr {
  color: var(--accent-blue-color);
  background-color: var(--accent-blue-color);
  border: none;
  height: 3px;
}
